/vendor/
/node_modules/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/build/
/.phpunit.cache/
composer.lock
package-lock.json
yarn.lock
*.log
.DS_Store
Thumbs.db

